a {
  text-decoration: none;
}

.tracks {
  cursor: pointer;
  margin-bottom: 5px;
}

.player-controls {
  position: fixed;
  bottom: 5px;
  left: 5px;
  padding: 5px 5px;
  border-radius: 5px;
  background-color: black;
}

.player-controls button {
  cursor: pointer;
}

.navigation ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-evenly;
  max-width: 300px;
  margin: auto;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: auto;
  padding-top: 40px;
}

.token-loading-error {
  display: none;
  font-size: 14px;
  color: red;
}

.host-content {
  max-width: 70%;
}
